@charset "UTF-8";
/* Fonts start */
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hind-madurai-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-madurai-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hind-madurai-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-madurai-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hind-madurai-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-madurai-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fredoka-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fredoka-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fredoka-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/fredoka-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Fonts end */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

:root {
  --clr-pink: #D23166;
}

.container {
  width: 1125px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(242, 206, 218, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__wrapper {
  padding: 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__nav a {
  color: #150101;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  opacity: 0.6;
}

.header__nav a:hover {
  opacity: 1;
  color: var(--clr-pink);
  transition: 0.3s;
}

.header__buy-now a {
  background-color: var(--clr-pink);
  padding: 14px 50px 13px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: Hind Madurai;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  color: #FAFAFA;
}

.header__buy-now a:hover {
  color: var(--clr-pink);
  background-color: #FAFAFA;
  border: 2px solid var(--clr-pink);
  transition: 0.3s;
}

.home {
  padding-top: 50px;
  background-color: rgba(242, 206, 218, 0.6);
  padding-bottom: 50px;
}

.home__wrapper {
  display: flex;
  justify-content: space-between;
}

.home__content-left {
  width: 665px;
  height: 364px;
  padding-top: 185px;
}

.home__content-left p:nth-child(1) {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #0F0101;
  margin: 0;
  padding-bottom: 6px;
}

.home__content-left h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 57.33px;
  font-weight: 400;
  line-height: 69.08px;
  text-align: left;
  color: #0F0101;
  margin: 0;
  padding-bottom: 35px;
}

.home__content-left p:nth-child(3) {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #0F0101;
  opacity: 0.6;
  width: 523px;
  padding-bottom: 50px;
}

.home__content-left a {
  background-color: var(--clr-pink);
  padding: 16px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: Hind Madurai;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  color: #FAFAFA;
}

.home__content-left a:hover {
  color: var(--clr-pink);
  background-color: #FAFAFA;
  border: 2px solid var(--clr-pink);
  transition: 0.3s;
}

.home__content-right img {
  padding-top: 50px;
  padding-left: 10px;
}

.features {
  padding: 100px 0 100px;
}

.features__wrapper {
  width: 1117px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__item {
  width: 250px;
  height: 200px;
  border-radius: 7px;
  background-color: #FAFAFA;
  margin: 0 auto;
  padding: 33px 26px 27px 26px;
}

.features__item:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.1019607843);
  transition: 0.3s;
}

.features__item img {
  margin-bottom: 24.65px;
}

.features__item h2 {
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.6px;
  text-align: center;
  color: #000000;
  padding-bottom: 9px;
}

.features__item p {
  font-family: Hind Madurai;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  text-align: center;
  opacity: 0.6;
  color: #000000;
}

.sugar {
  background-color: rgba(242, 206, 218, 0.6);
  padding: 50px 0 50px;
}

.sugar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sugar__content-left {
  width: 442px;
}

.sugar__content-left h1 {
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-weight: 600;
  line-height: 48.84px;
  text-align: left;
  color: #150101;
  padding-bottom: 16px;
}

.sugar__content-left p {
  width: 442px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #150101;
  opacity: 0.6;
  padding-bottom: 35px;
}

.sugar__content-left a {
  font-family: "Roboto", sans-serif;
  padding: 15px 42px;
  border-radius: 5px;
  background-color: var(--clr-pink);
  color: #FAFAFA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  border: 2px solid transparent;
}

.sugar__content-left a:hover {
  color: var(--clr-pink);
  background-color: #FAFAFA;
  border: 2px solid var(--clr-pink);
  transition: 0.3s;
}

.product {
  padding-bottom: 150px;
}

.product__wrapper {
  padding-top: 132px;
  display: flex;
  flex-direction: column;
}

.product__our-product h1 {
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-weight: 600;
  line-height: 61px;
  text-align: center;
  color: #150101;
  padding-bottom: 64px;
}

.product__our-product nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.product__our-product nav ul li a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  color: #150101;
  opacity: 0.6;
  position: relative;
}

.product__our-product nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: var(--clr-pink);
  transition: width 0.3s ease;
}

.product__our-product nav ul li a:hover {
  color: #000000;
}

.product__our-product nav ul li a:hover::after {
  width: 100%;
}

.product__brown-bread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.product__brown-bread-right {
  padding-left: 85px;
}

.product__brown-bread-right h2 {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.88px;
  text-align: left;
  color: #000000;
  padding-bottom: 11px;
}

.product__brown-bread-right p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
  padding-bottom: 28px;
}

.product__brown-bread-right a {
  padding: 15px 50px;
  background-color: var(--clr-pink);
  color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid transparent;
}

.product__brown-bread-right a:hover {
  color: var(--clr-pink);
  background-color: #FAFAFA;
  border: 2px solid var(--clr-pink);
  transition: 0.3s;
}

.product__brown-bread-right-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 134px;
  padding-bottom: 10px;
}

.product__brown-bread-right-price h2 {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 500;
  line-height: 35.88px;
  text-align: left;
  color: #000000;
}

.product__brown-bread-right-price h3 {
  text-decoration: line-through;
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.6px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
}

.product__cayenne-chocolate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.product__cayenne-chocolate-left a {
  padding: 15px 50px;
  background-color: var(--clr-pink);
  color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid transparent;
}

.product__cayenne-chocolate-left a:hover {
  color: var(--clr-pink);
  background-color: #FAFAFA;
  border: 2px solid var(--clr-pink);
  transition: 0.3s;
}

.product__cayenne-chocolate-left h2 {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.88px;
  text-align: right;
  color: #000000;
  padding-bottom: 11px;
}

.product__cayenne-chocolate-left p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
  opacity: 0.7;
  width: 444px;
  height: 67px;
}

.product__cayenne-chocolate-right-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 134px;
  padding-top: 28px;
  padding-bottom: 10px;
}

.product__cayenne-chocolate-right-price h2 {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 500;
  line-height: 35.88px;
  text-align: right;
  color: #000000;
}

.product__cayenne-chocolate-right-price h3 {
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.6px;
  text-align: right;
  color: #000000;
  opacity: 0.7;
  text-decoration: line-through;
}

.product__cayenne-chocolate-right {
  padding-left: 84px;
}

.product__sweet-corn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.product__sweet-corn-left {
  padding-right: 87px;
}

.product__sweet-corn-right a {
  padding: 15px 50px;
  background-color: var(--clr-pink);
  color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid transparent;
}

.product__sweet-corn-right a:hover {
  color: var(--clr-pink);
  background-color: #FAFAFA;
  border: 2px solid var(--clr-pink);
  transition: 0.3s;
}

.product__sweet-corn-right h2 {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.88px;
  text-align: left;
  color: #000000;
  padding-bottom: 11px;
}

.product__sweet-corn-right p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
  padding-bottom: 28px;
}

.product__sweet-corn-right-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 134px;
  padding-top: 28px;
  padding-bottom: 10px;
}

.product__sweet-corn-right-price h2 {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 500;
  line-height: 35.88px;
  text-align: left;
  color: #000;
}

.product__sweet-corn-right-price h3 {
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.6px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
  text-decoration: line-through;
}

.product__comment {
  padding-top: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__comment-wrapper-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  padding-bottom: 40px;
}

.product__comment-left p {
  width: 322px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
}

.product__comment-right {
  padding-left: 10px;
}

.product__comment-right h3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: left;
  color: #000000;
  padding-bottom: 5px;
}

.product__comment-right p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
}

.product__comment-right-images {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  padding-bottom: 40px;
}

.order {
  background-color: #F8EDF0;
  padding: 50px 0 45px;
}

.order__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__right {
  padding-left: 121px;
}

.order__right h1 {
  font-family: Roboto;
  font-size: 44.2px;
  font-weight: 500;
  line-height: 51.8px;
  text-align: left;
  color: #000000;
  padding-bottom: 20px;
}

.order__right p {
  width: 607px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #0F0101;
  opacity: 0.7;
  padding-bottom: 31px;
}

.order__right-select p {
  padding-top: 30px;
}

.order__right-select-select-food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.order__right-select-p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.78px;
  text-align: left;
  color: #000000;
}

.order__right-links {
  padding-top: 34px;
}

.order__right-links a {
  padding: 16px 50px;
  border-radius: 7px;
  border: 2px solid transparent;
  font-family: hind Madurai;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  color: #FAFAFA;
  margin-right: 10px;
  background-color: #000000;
}

.order__right-links a:hover {
  color: #000000;
  background-color: #FAFAFA;
  border: 2px solid #000000;
  transition: 0.3s;
}

/* Секция с формой */
.contact {
  padding: 50px 0;
  text-align: center;
}

.contact h1 {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 500;
  line-height: 51.56px;
  text-align: center;
  color: #150101;
  width: 522px;
  padding-bottom: 36px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  padding-bottom: 37px;
  width: 640px;
  margin: 0 auto;
}

input {
  flex: 1;
  padding: 30px 25px;
  border: 1px solid #F28EA0;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  margin-right: 30px;
}

.question {
  margin: 0;
  position: relative;
}

input:focus {
  border-color: #d23166;
}

button {
  background-color: #d23166;
  border: none;
  padding: 25px 45px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c02456;
}

.footer {
  padding: 70px 0 100px;
  background-color: #0A0808;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first p {
  width: 207px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.76px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 25px;
}

.first h3 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 8px;
}

.footer__wrapper-social-links {
  margin-right: 10px;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.7;
}

.third {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.7;
}

.fourth h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 13px;
}

.send-form {
  padding: 0;
}/*# sourceMappingURL=main.css.map */